*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.footer {
  background-color: #fff;
  padding: 8rem;
}

.main-nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}

.icons {
  display:flex;
  column-gap: 2.5rem;
}

.icon {
  width: 6rem;
  height: 6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2.6rem;
  color: #fff;
  border-radius: 50%;
  outline: 0.2rem solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}
